@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-merriweather);
}

@layer base {
  :root {
    --bg-dark: 1 0 0;
    --bg: 0.9619 0 0;
    --bg-light: 0.9234 0 0;
    --text: 0.1579 0 0;
    --text-muted: 0.4184 0 0;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0.3546 0.1105 27.25;
    --primary-foreground: 1 0 0;
    --secondary: 0.9214 0.0214 27.25;
    --secondary-foreground: 0.3546 0.1105 27.25;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --success: 0.8353 0.1169 149.58;
    --warning: 0.8353 0.0917 86.05;
    --danger: 0.8353 0.253 25.3;
  }
  .dark {
    --bg-dark: 0 0 0;
    --bg: 0.1579 0 0;
    --bg-light: 0.2156 0 0;
    --text: 0.9619 0 0;
    --text-muted: 0.7652 0 0;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0.3546 0.1105 27.25;
    --primary-foreground: 0 0 0;
    --secondary: 0.9214 0.0214 27.25;
    --secondary-foreground: 0.3546 0.1105 27.25;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --success: 0.8353 0.1169 149.58;
    --warning: 0.8353 0.0917 86.05;
    --danger: 0.8353 0.253 25.3;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@layer utilities {
  .bg-banner-image {
    @apply bg-bannerImage bg-cover bg-bottom bg-repeat;
  }

  .card {
    background: linear-gradient(0deg, oklch(var(--bg)) 95%, oklch(var(--bg-dark)))
  }

  .card:hover {
    background: linear-gradient(0deg, oklch(var(--bg)), oklch(var(--bg-dark)))
  }
}